
<!--==================================
=            list Post            =
===================================-->
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
            <div class="sidebar">
              <!-- User Widget -->
              <div class=" widget user user-dashboard-profile">
                <!-- User Image -->
                <div class="image d-flex justify-content-center">
                  <img  alt="" class="">
                </div>
                <!-- User Name -->
                <h5 class="text-center">last name  FirstName </h5>
               
                <a routerLink="./profil" class="btn btn-secondary ">Edit Profile</a>
              </div>
              <!-- Dashboard Links -->
              <div class="widget user-dashboard-menu">
                <ul>
                  <li ><a routerLink="/dashborad" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="list-group-item list-group--item-action"><i class="fa fa-user"></i> Les Service</a></li>
                  <li  ><a  routerLink="../postservicesOff" routerLinkActive="active" class="list-group-item list-group--item-action"><i class="fa fa-user"></i> Ajouter Service demandé</a></li>
                  <li  ><a  routerLink="../postservicesDem" routerLinkActive="active" class="list-group-item list-group--item-action"><i class="fa fa-user"></i> Ajouter Service offert</a></li>

                  <br>    <div class="d-flex justify-content-center">

                  <li><button type="button" class="btn btn-danger btn-sm" ><i class="fa fa-cog"></i> Logout</button></li>
              </div>
                </ul>
              </div>
        
            </div>
          </div>   
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
          <!-- Recently Favorited -->
          <div class="widget dashboard-container my-adslist">
            <h3 class="widget-header">Liste des Service</h3>
            <div class="form-group col-md-5 ">
              <input type="text"  class="form-control my-2 my-lg-1" id="inputtext4" placeholder="Searsh by title...">
            </div>
            <table class="table table-responsive product-dashboard-table">
              <thead>

                <tr>
                
              </tr>
                <tr>
                  <th>Image</th>
                  <th   title="sort with date">Description Produit  <i class="fa fa-solid fa-sort"></i></th>
                  <th  class="text-center" title="sort with category">Category<i class="fa fa-solid fa-sort"></i></th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr   >
  
                  <td class="product-thumb">
                    <img  alt="" class="" width="80px" height="auto">
                      </td>
                  <td class="product-details">
                    <h3 class="title">titre</h3> 
                    <span class="add-id"><strong>ID</strong> id</span>
                    <span><strong>Added on </strong><time> date</time> </span>
                    <span><strong>Updated on</strong><time> date</time> </span>

                    <span class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" name="available"   >
                      <label class="custom-control-label"  >Available</label>
                    </span>
              
                  </td>
                  <td class="product-category"><span class="categories">categorie</span></td>
                  <td class="action" data-title="Action">
                    <div class="">
                      <ul class="list-inline justify-content-center">
                        <li class="list-inline-item">
                          <button data-toggle="tooltip" data-placement="top"   title="view" class="view" >
                            <i class="fa fa-eye"></i>
                          </button>
                        </li>
                        <li class="list-inline-item">
                          <button class="edit"    data-toggle="tooltip" data-placement="top" title="Edit" >
                            <i class="fa fa-pencil"></i>
                          </button>
                        </li>
                        <li class="list-inline-item">

                          <button class=" delete"  mwlConfirmationPopover   placement="left"     >
                            <i class="fa fa-trash"></i>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </td>



                </tr>
           
  <div>No Data found ...</div>
              
               
              </tbody>
            </table>
            <div class="d-flex justify-content-end">
					

        
        </div>
          </div>
          </div>
          </div>
          </div>

         <!-- <div class="alert alert-success "   data-delay="100" aria-atomic="true" aria-live="assertive" style="position:fixed; top: 5rem; right: 3rem; min-width:400PX; " *ngIf="successMess">
            <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>

            <h4 class="alert-heading"  >Well done!</h4>
            <h6 style="color:grey">{{successMess}}</h6>
       
          </div>
!-->
</section>
      

          